{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y H:i A" }}</small>
            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                   href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>

        <!-- Comments -->
        {% if comments.count == 1 %}
        <h3 class="article-title mb-4 mt-2 float-right">{{ comments.count }} Comment</h3>
        {% else %}
        <h3 class="article-title mb-4 mt-2 float-right">{{ comments.count }} Comments</h3>
        {% endif %}
        <h3 class="article-title mb-4 mt-4">Comments</h3>
        {% for comment in comments %}
        <div class="media-body mb-4">
            <div class="media">
                <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}" alt="">
                <div class="media-body">
                    <a class="mr-2" href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a>
                    <small class="text-muted">{{ comment.created_on|date:"F d, Y H:i A" }}</small>
                    <p class="article-content">{{ comment.content }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Comment form -->
        {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Leave a comment</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
        {% endif %}
    </div>
</article>
{% endblock content %}
